{% extends "main.njk" %}

{% block head %}

	<title>Foodfy - Receitas</title>

{% endblock %}

{% block content %}

	<section class="recipes-section container">
		<div class="chef-cards">
      {% for chef in chefs %}
        <div class="card-item" id="{{chef.id}}">

          <div class="card-item__image-container">
            <img src="{{chef.avatar_url}}" alt="chef {{chef.name}} image">
          </div>

          <div class="card-item__info">
            <div class="card-item__title">
              <p>{{chef.name}}</p>
            </div>
            <small>{{chef.total_recipes}} receitas</small>
          </div>
        </div>
      {% endfor %}
    </div>
	</section>
	
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}