{% extends "admin.njk" %}

{% block head %}

	<title>Foodfy - Criando Chef</title>

{% endblock %}

{% block content %}
	<section class="container">
		<form 
      method="POST" 
      action="/admin/chefs" 
      enctype="multipart/form-data"
    >
			<div class="title">
				<h2>Criando Chef</h2>
				<button type="submit" onclick="Validate.allFields(event)">Salvar Chef</button>
			</div>

			{% include "admin/chefs/fields.njk" %}

		</form>
	</section>
	
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}