{% extends "admin.njk" %}

{% block head %}

	<title>Foodfy - Editando Receita</title>

{% endblock %}

{% block content %}
	<section class="container">
		<form 
      method="POST" 
      action="/admin/chefs?_method=PUT" 
      enctype="multipart/form-data"
    >
			<div class="title">
				<h2>Editando Chef</h2>
				<div class="button-container">
					<button 
						class="btn-delete" 
						type="submit" 
						form="form-delete"
					>
						Deletar
					</button>
					<button type="submit" onclick="Validate.allFields(event)">Salvar Chef</button>
				</div>
			</div>

			{% include "admin/chefs/fields.njk" %}

			<input type="hidden" name="id" value="{{chef.id}}">
		</form>
		<form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
			<input type="hidden" name="id" value="{{chef.id}}">
      <input type="hidden" name="file_id" value="{{chef.file.id}}">
		</form>
	</section>

{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
	<script src="/js/confirm.js"></script>
{% endblock %}