<div class="input-group">
  <label>Nome</label>
  <div id="chef-name">
    {% if chef.name %}
      <div class="ingredients__input">
        <input 
          type="text" 
          name="name" 
          value="{{ chef.name }}"
        >
      </div>
    {% else %}
      <div class="ingredients__input">
        <input 
          type="text"
          name="name"
        >
      </div>
    {% endif %}
  </div>
</div>

<div class="input-group">
  <label>Avatar</label>
  <div id="photos-upload">
    <input 
      id="photos-input"
      type="file"
      name="photos"
      accept="image/png, image/jpg, image/jpeg"
      onchange="PhotosUpload.handleFileEvent(event)"
    >
    <p>Enviar avatar</p>
  </div>
  
</div>