<div class="input-group">
  <label>Nome</label>
  <div id="chef-name">
    {% if chef.name %}
      <div class="ingredients">
        <input 
          type="text" 
          name="name" 
          value="{{ chef.name }}"
        >
      </div>
    {% else %}
      <div class="ingredients">
        <input 
          type="text"
          name="name"
        >
      </div>
    {% endif %}
  </div>
</div>

<div class="input-group">
  <label>Avatar</label>
  <div id="photos-container">
    <div id="photos-upload">
      <input 
        id="photos-input"
        type="file"
        name="photos"
        accept="image/png, image/jpg, image/jpeg"
        onchange="PhotosUpload.handleFileInput(event)"
      >
      <i class="material-icons">add</i>
    </div>

    <div id="photos-preview">
      {% if files %}
        {% for image in files %}
          <div id="{{image.src}}" class="photo">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
  
</div>