{% extends "admin.njk" %}

{% block head %}

	<title>Foodfy - Painel Administrativo</title>

{% endblock %}

{% block content %}
	<section class="admin container">
		<div class="title">
      <h2>Gerenciar chefs</h2>
      <a href="/admin/chefs/create" class="btn">+ Novo Chef</a>
    </div>
		
		<div class="chefs-container-admin">
      {% for chef in chefs %}
        <div class="chef" id="{{chef.id}}">
          {% if not chef.avatar_url %}
            <img src="http://placehold.it/64x64" alt="Image do chef {{chef.name}}">
          {% else %}
            <img src="{{chef.avatar_url}}" alt="imagem do chef {{chef.name}}">
          {% endif %}

          <div class="chef-info">
            <h3>{{chef.name}}</h3>
            <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
	</section>
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}