{% extends "layouts/admin.njk" %}

{% block head %}

	<title>Foodfy - Painel Administrativo</title>

{% endblock %}

{% block content %}
	<section id="admin-chefs" class="container">
		<h1>Gerenciar chefs</h1>
		
		<div class="chef-cards">

      {% for chef in chefs %}
        <div class="card-item" id="{{loop.index0}}">

          <div class="card-item__image-container">
            <img src="{{chef.avatar_url}}" alt="imagem do chef {{chef.name}}">
          </div>

          <div class="card-item__info">
            <div class="card-item__title">
              <p>{{chef.name}}</p>
            </div>

            <a href="/admin/chefs/{{loop.index0}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>

	</section>
	
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}