{% extends "layouts/admin.njk" %}

{% block head %}

  <title>{{recipe.title}}</title>

{% endblock %}

{% block content %}

  <section class="chefs__detail-section container">
  
    <div class="admin__header">
      <h2>Chef: {{chef.name}}</h2>
      <a href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
    </div>

    <div class="chef-info">
      <div class="chef-avatar">
        <img src="{{chef.avatar_url}}" alt="chef {{chef.name}} image">
      </div>
      <h1>{{chef.name}}</h1>
      <p>{{chef.total_recipes}} Receitas</p>
    </div>

    <section class="chef-recipes">
      <h2>Receitas</h2>

      {% if chef.total_recipes == 0 %}

        <h3>Nenhuma receita cadastradas :(</h3>

      {% else %}
        <div class="admin-cards">
          {% for recipe in recipes %}

            <div class="card-item">
              <div class="card-item__image-container">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
              </div>

              <div class="card-item__info">
                <div class="card-item__title">
                  <p>{{recipe.title}}</p>
                </div>
                <div class="card-item__description">
                  <p>por {{chef.name}}</p>
                </div>

                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>

  </section>

{% endblock %}

{% block scripts %}
  <script src="/js/scripts.js"></script>
{% endblock %}