{% macro recipes(name, section, classes, recipes) %}
  <section 
    {% if section %}
    id='{{section}}'
    {% endif %}
    class='{{classes}}'
  >
  {% if name %}
    <h1>{{name}}</h1>
  {% endif %}
		<div class="cards">
			{% for recipe in recipes %}
				<div class="card" id="{{recipe.id}}">
					<div class="card__image-container">
						<img src="{{recipe.image}}" alt="Burger">
					</div>
					<div class="card__title">
						<p>{{recipe.title}}</p>
					</div>
					<div class="card__description">
						<p>por {{recipe.author}}</p>
					</div>
				</div>
			{% endfor %}
	</section>
{% endmacro %}