
<div class="input-group">
  <label>Nome</label>
  <input 
    type="text" 
    name="name"
    placeholder="Digite o nome completo"
    value="{{ user.name }}"
    required
  >
</div>

<div class="input-group">
  <label>E-mail</label>
  <input 
    type="email" 
    name="email"
    placeholder="Digite o e-mail"
    value="{{ user.email }}"
    onblur="Validate.apply(this, 'isEmail')"
    required
  >
</div>

<div class="input-group">
  <label>Senha</label>
  <input 
    type="password" 
    name="password"
    {% if not user.id %}
    palceholder="Digite uma senha segura"
    {% else %}
    placeholder="Digite sua senha para atualizar seu cadastro"
    {% endif %}
    required
  >
</div>

<div class="input-group">
  <span>
    <input 
      type="checkbox" 
      name="is_admin"
      {% if user.is_admin %}
      checked
      {% endif %}
    >
  </span>
  <label>Administrador</label>
  
</div>
