{% extends "main.njk" %}
{% import "parts/recipes-section.njk" as section %}

{% block head %}

	<title>Foodfy - Receitas</title>

{% endblock %}

{% block searchFilter %}
  {% include "parts/search-recipes.njk" %}  
{% endblock %}

{% block content %}

  <section class="search container">
    <div class="title">
      <h1>Você buscou por "{{filter}}"</h1>
    </div>
    {% include "parts/recipes-section.njk" %}
  </section>

  {% include "parts/pagination.njk" %}
{% endblock %}
