@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: 0;
}

html,
body {
   height: 100vh;
   font-family: 'Roboto', sans-serif;
}


/*=== HEADER SECTION === */
header {
   padding: 20px;
}

header .wrapper {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   justify-content: space-between;
   max-width: 940px;
   margin: auto;
}

header img {
   margin-right: 120px;
   padding: 15px 0;
}

header nav ul {
   display: flex;
}

header nav ul li {
   list-style: none;
}

header nav ul li a {
   text-decoration: none;
   color: #333;
   padding: 15px;
}

/* === LANDING SECTION === */
#landing .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;

   width: 940px;
   max-width: 940px;
   height: 366px;
   background-color: #FBDFDB;
   margin: 0 auto;
   border-radius: 30px;

   position: relative;
}

.container .landing-text {
   padding: 60px 80px 60px 60px;
}

.container .landing-text h1 {
   font-size: 32px;
   margin-bottom: 10px;
}

.container .landing-text p {
   font-size: 18px;
   line-height: 28px;
}

.container img {
   position: absolute;
   bottom: 0;
   right: 100px;
}