@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: 0;
}

html,
body {
   height: 100vh;
   font-family: 'Roboto', sans-serif;
}

.container {
   width: 940px;
   max-width: 940px;
   margin: 0 auto 50px;
}

/*=== HEADER SECTION === */
header {
   padding: 20px;
}

header .wrapper {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   justify-content: space-between;
   max-width: 940px;
   margin: auto;
}

header img {
   margin-right: 120px;
   padding: 15px 0;
}

header nav ul {
   display: flex;
}

header nav ul li {
   list-style: none;
}

header nav ul li a {
   text-decoration: none;
   color: #333;
   padding: 15px;
}

/* === LANDING SECTION === */
#landing .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   height: 366px;
   border-radius: 30px;
   background-color: #FBDFDB;

   position: relative;
}

#landing .container .landing-text {
   padding: 60px 80px 60px 60px;
}

#landing .container .landing-text h1 {
   font-size: 32px;
   margin-bottom: 10px;
}

#landing .container .landing-text p {
   font-size: 18px;
   line-height: 28px;
   opacity: 70%;
}

#landing .container .chef {
   position: absolute;
   bottom: 0;
   right: 100px;
}

/* === MOST ACCESSED SECTION === */
#most-accessed h1 {
   margin-bottom: 20px;
}

.cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px 20px;
}

.card__image-container img{
   width: 300px;
   height: 140px;
   margin-bottom: 20px;
   border-radius: 15px;
}

.card__title {
   font-size: 18px;
   color: #111111;
   margin-bottom: 5px;
}

.card__description {
   font-size: 14px;
   color: #777777;
}

/* === FOOTER === */
.footer {
   padding: 23px;
   text-align: center;
   background-color: #eee;
}

.footer p {
   color: #999;
}