<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}

      <title>Foodfy</title>

    {% endblock %}

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="flex-container">
      <header>
        <div class="wrapper">
          <img src="/assets/logo.png" alt="Foodfy">

          <nav class="navbar">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receita</a>
          </nav>

        </div>
      </header>

      {% block content %}{% endblock %}

      <footer class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </footer>
    </div>

    {% block scripts %}{% endblock %}
  </body>

</html>