{% extends "main.njk" %}

{% block searchFilter %}
  {% include "parts/search-recipes.njk" %}  
{% endblock %}

{% block content %}

  <section class="banner container">
    <div class="banner-content">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>

    <div class="banner-img">
      <img class="chef" src="assets/chef.png" alt="Chef">
    </div>
  </section>

  <section class="most-accessed container">
    <h1>Mais acessadas</h1>
    {% include "parts/recipes-section.njk" %}
  </section>
  
{% endblock %}
