{% extends "layouts/main.njk" %}

{% block searchFilter %}
  <form 
    class="filter" 
    action="/recipes?" 
    method="GET"
  >
    <input 
      type="text"
      name="filter"
      placeholder="Buscar por receita"
      value="{{ filter }}"
    >
    <button type="submit">Buscar</button>
  </form>
{% endblock %}

{% block content %}

  <section id="landing">
    <div class="container">
      <div class="landing-text">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>

      <img class="chef" src="assets/chef.png" alt="Chef">
    </div>
  </section>

  <section id="most-accessed" class="container">
    <h1>Mais Acessadas</h1>

    <div class="cards">
      {% for recipe in recipes %}
				<div class="card">
					<div class="card__image-container">
						<img src="{{recipe.image}}" alt="Burger">
					</div>
					<div class="card__title">
						<p>{{recipe.title}}</p>
					</div>
					<div class="card__description">
						<p>por {{recipe.author}}</p>
					</div>
				</div>
			{% endfor %}
    </div>
  </section>

{% endblock %}
