{% extends "layouts/main.njk" %}

{% block head %}

	<title>Foodfy - Receitas</title>

{% endblock %}

{% block searchFilter %}
  <form 
    class="filter" 
    action="/recipes?" 
    method="GET"
  >
    <input 
      type="text"
      name="filter"
      placeholder="Buscar por receita"
      value="{{ filter }}"
    >
    <button type="submit">Buscar</button>
  </form>
{% endblock %}

{% block content %}

	<section class="recipes-section container">
		<div class="cards">
			{% for recipe in recipes %}
				<div class="card" id="{{recipe.id}}">
					<div class="card__image-container">
						<img src="{{recipe.image}}" alt="Burger">
					</div>
					<div class="card__title">
						<p>{{recipe.title}}</p>
					</div>
					<div class="card__description">
						<p>por {{recipe.author}}</p>
					</div>
				</div>
			{% endfor %}

	</section>
	
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}