{% extends "layouts/main.njk" %}

{% block head %}

	<title>Foodfy - Receitas</title>

{% endblock %}

{% block searchFilter %}
  {% include "main/includes/searchBar.njk" %}  
{% endblock %}

{% block content %}

	<section class="recipes-section container">
  {% if filter %}
    <h1>Buscando por "{{filter}}"</h1>
  {% endif %}
		<div class="cards">
			{% for recipe in recipes %}
				<div class="card" id="{{recipe.id}}">
					<div class="card__image-container">
						<img src="{{recipe.image}}" alt="Burger">
					</div>
					<div class="card__title">
						<p>{{recipe.title}}</p>
					</div>
					<div class="card__description">
						<p>por {{recipe.author}}</p>
					</div>
				</div>
			{% endfor %}
	</section>

{% include "includes/pagination.njk" %}
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}