@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
   --title-color: #111111;
   --info-color: #777777;
   --link: #6558C3;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: 0;
}

html,
body {
   height: 100%;
   font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-bottom: 20px;
   font-weight: bold;
}

fieldset {
   border: none;
}

.flex-container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.main-container {
   min-height: 100vh;
   overflow: hidden;
   display: block;
   position: relative;
   padding-bottom: 62px;
}

.container {
   width: 940px;
   max-width: 940px;
   margin: 0 auto 50px;
   flex: 1;
}

/*=== HEADER SECTION === */
header {
   padding: 20px;
}

header .wrapper {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   justify-content: space-between;
   max-width: 940px;
   margin: auto;
}

header img {
   margin-right: 120px;
   padding: 15px 0;
}

header nav a {
   text-decoration: none;
   color: #333;
   padding: 15px;
}

header nav a:hover,
.link-active {
   font-weight: bold;
}


/* === LANDING SECTION === */
#landing .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   height: 366px;
   border-radius: 30px;
   background-color: #FBDFDB;

   position: relative;
}

#landing .container .landing-text {
   padding: 60px 80px 60px 60px;
}

#landing .container .landing-text h1 {
   font-size: 32px;
   margin-bottom: 10px;
}

#landing .container .landing-text p {
   font-size: 18px;
   line-height: 28px;
   opacity: 70%;
}

#landing .container .chef {
   position: absolute;
   bottom: 0;
   right: 100px;
}

/* === Cards === */
.cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px 20px;
}

.card {
   cursor: pointer;
}

.card__image-container {
   width: 300px;
   height: 140px;
   margin-bottom: 20px;
   border-radius: 15px;
   overflow: hidden;
   
   display: flex;
   justify-content: center;
}

.card__image-container img{
   height: 100%;
}

.card__title p {
   font-size: 18px;
   color: var(--title-color);
   margin-bottom: 5px;
}

.card__description p {
   font-size: 14px;
   color: var(--info-color);
}

/*=== ABOUT SECTION ===*/
.about-section,
.recipes-section {
   margin-top: 25px;
}

.about-section p {
   font-size: 18px;
   line-height: 28px;
   color: #444444;
   margin-bottom: 30px;
}

.about-section div > h3 {
   font-size: 20px;
}


/*=== Modal ===*/
.modal-overlay {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(0, 0, 0, 0.6);

   display: flex;
   align-items: center;
   justify-content: center;
}

.modal {
   width: 660px;
   height: 413px;
   border-radius: 16px;
   padding: 30px;
   position: relative;

   background-color: #FFF;
}

.modal .modal__image {
   width: 600px;
   height: 200px;
   margin-bottom: 20px;
   border-radius: 15px;

   display: flex;
   justify-content: center;
   align-items: center;

   overflow: hidden;
}

.modal .modal__title {
   font-size: 24px;
   text-align: center;
   margin-bottom: 5px;
}

.modal .modal__info {
   font-size: 18px;
   text-align: center;
   color: var(--info-color);
}

.modal .modal-buttons {
   width: 600px;
   display: flex;
   justify-content: center;

   position: absolute;
   bottom: 30px;
}

.modal-buttons .close-modal {
   color: #999;
   font-size: 16px;
   cursor: pointer;
}

.modal-overlay.active {
   opacity: 1;
   visibility: visible;
}

/* === FOOTER === */
.footer {
   height: 62px;
   padding: 23px;
   text-align: center;
   background-color: #eee;
   /* position: absolute;
   bottom: 0;
   width: 100%; */
}

.footer > p {
   color: #999;
   margin: 0;
}

/* === Recipe Detail === */
.recipes__detail-section .details ul{
   padding-left: 20px;
}

.banner__image-container img{
   max-width: 940px;
   border-radius: 15px;
   margin-bottom: 50px;
}

.recipe-info {
   text-align: center;
}

.recipe-info h1 {
   font-size: 36px;
   margin-bottom: 4px;
}

.recipe-info p {
   font-size: 20px;
   color: var(--info-color);
}

.section-title {
   display: flex;
   align-items: baseline;

   margin-bottom: 20px;
}

.section-title h3 {
   font-size: 24px;
   margin-bottom: 0;
}

.details {
   color: #444444;
   font-size: 18px;
   line-height: 28px;
   margin-bottom: 39px;
   max-height: 100vh;
   transition: all 600ms ease-in-out ;
}

.btn-collapse {
   color: #999999;
   font-size: 12px;
   text-transform: uppercase;
   cursor: pointer;
}

.btn-collapse:hover {
   color: #999999;
   filter: brightness(0.7);
}

button.btn-collapse {
   border: none;
   background-color: transparent;  
   margin-left: 8px;
}

/* === Details Collapse === */
.hide-details {
   max-height: 0;
   opacity: 0;
   overflow: hidden;
}

/* Admin Panel */
#admin-panel .admin-header {
   display: flex;
   height: 80px;
   background-color: #111111;
   margin-bottom: 50px;
}

#admin-panel .admin-header__logo img {
   margin-right: 0;
   padding: 0;
}

#admin-panel .admin-header__logo {
   display: grid;
   grid-template-columns: 100px 1fr;
   flex: 1;
   max-width: 940px;
   margin: auto;
}

#admin-panel h1 {
   margin-bottom: 30px;
}

.admin-cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.card-item {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 20px
}

.card-item__image-container {
   width: 172px;
   height: 80px;
   overflow: hidden;
   
   display: flex;
   justify-content: center;
   border-radius: 8px;
}

.card-item__image-container img {
   height: 100%;
}

.card-item__title {
   font-size: 18px;
   font-family: 'Roboto', 'Sans-Serif';
   line-height: 21px;
   color: var(--title-color);
   
   margin-bottom: 5px;
}

.card-item__description {
   font-size: 14px;
   font-family: 'Roboto', 'Sans-Serif';
   line-height: 16px;
   color: var(--info-color);
   
   margin-bottom: 10px;
}

.card-item__info a {
   font-size: 14px;
   font-weight: 700;
   color: var(--link);
   text-decoration: none;
}

/* RECIPE - ADMIN */
.recipe__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 24px
}

.recipe__header h2 {
   margin-bottom: 0;
}

.recipe__header a,
.recipe__header button {
   font-size: 16px;
   font-weight: 700;
   color: #FFF;
   text-decoration: none;
   padding: 9px 20px;
   background-color: var(--link);
   border: none;
   border-radius: 4px;
   transition: all 100ms ease-in-out;
   cursor: pointer;
}

.recipe__header a:hover,
.recipe__header button:hover {
   opacity: 90%;
}

fieldset.recipe__input-group {
   margin-bottom: 30px;
}

.recipe__input-group legend {
   font-size: 16px;
   font-weight: 700;
   color: var(--title-color);
   line-height: 19px;
   margin-bottom: 10px;
}

.recipe__input-group .ingredients__input,
.recipe__input-group .preparing__input {
   margin-bottom: 10px;
}

.recipe__input-group .ingredients__input:last-of-type,
.recipe__input-group .preparing__input:last-of-type {
   margin-bottom: 0px;
}

.recipe__input-group input {
   color: var(--title-color);
   font-size: 16px;
   width: 100%;
   max-width: 940px;
   height: 49px;
   max-height: 49px;
   padding: 15px 20px;
   border: 1px solid #DDD;
   border-radius: 4px;
   background-color: #FFF
}

.recipe__input-group .aditional-info {
   color: var(--title-color);
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   line-height: 24px;
   min-width: 100%;
   max-width: 940px;
   min-height: 257px;
   padding: 18px 20px;
   border: 1px solid #DDD;
   border-radius: 4px;
   background-color: #FFF
}

.recipe__input-group button {
   color: var(--link);
   font-size: 16px;
   font-weight: 700;
   text-align: right;
   margin-top: 15px;
   background: none;
   border: none;
   cursor: pointer;
}

.recipe__header button.form__button-delete {
   background-color: #DC4747;
}

.form__button-container button:first-child {
   margin-right: 10px;
}