<header class="header-admin">
  <div class="container">
    <a href="/admin" class="logo">
      <img src="/assets/logo-light.png" alt="Foodfy">
    </a>

    <nav class="links">
      <ul>
        <li>
          <a href="/admin/recipes">Receitas</a>
        </li>
        <li>
          <a href="/admin/chefs">Chefs</a>  
        </li>
      </ul>
    </nav>
  </div>
</header>