{% extends "admin.njk" %}

{% block head %}

	<title>Foodfy | Perfil</title>

{% endblock %}

{% block content %}
	<section class="user container">
		<form 
      method="POST" 
      action="/admin/profile?_method=PUT"
    >
			<div class="title">
				<h2>Bem vindo {{user.name}}</h2>
				<button type="submit">Salvar</button>
			</div>

      <div class="fields">
			  {% include "admin/profile/fields.njk" %}
      </div>

      <input type="hidden" name="id" value="{{user.id}}">

		</form>
	</section>
	
{% endblock %}

{% block scripts %}
	<script src="/js/scripts.js"></script>
{% endblock %}