<div class="input-group">
  <label>Título da receita</label>
  <input 
    type="text" 
    name="title" 
    value="{{ recipe.title }}"
  >
</div>

<div class="input-group">
  <label>Fotos da receita (até 5 fotos)</label>
  <div id="photos-container">
    <div id="photos-upload">
      <input 
        id="photos-input"
        type="file" 
        name="photos" 
        multiple
        accept="image/png, image/jpeg, image/jpg"
        onchange="PhotosUpload.handleFileInput(event)"
      >
      <i class="material-icons">add</i>
    </div>
    <div id="photos-preview">
      {% if recipe.files %}
        {% for image in recipe.files %}
          <div id="{{image.file_id}}" class="photo">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</div>

<div class="input-group">
  <label>Chef</label>
  <select name="chef">
    <option selected value disabled hidden >Selecione um Chef</option>
    {% for chef in chefOptions %}
      <option 
        value="{{chef.id}}" 
        {% if recipe.chef_id == chef.id %} 
          selected="selected" 
        {% endif %}
      >
        {{chef.name}} 
      </option>
    {% endfor %}
  </select>
</div>

<div class="input-group">
  <label>Ingredientes</label>

  <div id="ingredients">
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredients">
          <input 
            type="text" 
            name="ingredients[]" 
            value="{{ ingredient }}" 
          >
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredients">
        <input 
          type="text" 
          name="ingredients"
        >    
      </div>
    {% endif %}
  </div>

  <a class="add-ingredient add">Adicionar novo ingrediente</a>
</div>

<div class="input-group">
  <label>Modo de preparo</label>

  <div id="preparing">
    {% if recipe.preparation %}
      {% for preparation in recipe.preparation %}
        <div class="steps">
          <input 
            type="text" 
            name="preparation[]" 
            value="{{ preparation }}"
          >
        </div>
      {% endfor %}
    {% else %}  
      <div class="steps">
        <input 
          type="text" 
          name="preparation"
        >
      </div>
    {% endif %}
  </div>

  <a class="add-step add">Adicionar novo passo</a>
</div>

<div class="input-group">
  <label>Informações adicionais</label>
  {% if recipe.information %}
    <textarea class="aditional-info" name="information">{{ recipe.information }}</textarea>
  {% else %}
    <textarea   
      class="aditional-info" 
      name="information"
    ></textarea>
  {% endif %}
  
  
</div>

