{% extends "admin.njk" %}

{% block head %}

  <title>{{recipe.title}}</title>

{% endblock %}

{% block content %}

  <section class="recipe-single container">
  
    <div class="title">
      <h2>Receita: {{recipe.title}}</h2>
      <a class="btn" href="/admin/recipes/{{recipe.id}}/edit">Editar Receita</a>
    </div>

    {% if not recipe.image %}
      <img src="http://placehold.it/900x280" alt="Imagem da receita {{recipe.title}}">
    {% else %}
      <img src="{{recipe.image}}" alt="{{recipe.title}}">
    {% endif %}
    
    <div class="title">
      <h1>{{recipe.title}}</h1>
      <p>Por {{recipe.author}}</p>
    </div>

    <div id="ingredients" class="recipe-content">
      <div class="title">
        <h2>Ingredientes</h2>
      </div>
      <div class="content">
        <ul>
          {% for ingredients in recipe.ingredients %}
            <li>
              {{ingredients}}
            </li>
          {% endfor%}
        </ul>
      </div>
    </div>

    <div id="preparation-section" class="recipe-content">
      <div class="title">
        <h2>Modo de preparo</h2>
      </div>
      <div class="content">
        <ul>
          {% for ingredients in recipe.preparation %}
            <li>
              {{ingredients}}
            </li>
          {% endfor%}
        </ul>
      </div>
    </div>

    {% if recipe.information !== '' %}
      <div id="information-section" class="recipe-content">
        <div class="title">
          <h2>Informações Adicionais</h2>
        </div>
        <div class="details">
          <p>{{recipe.information}}</p>
        </div>      
      </div>
    {% endif %}
  
  </section>

{% endblock %}

{% block scripts %}
  <script src="/js/scripts.js"></script>
{% endblock %}