<header class="admin-header">
  <div class="admin-header__logo wrapper">
    <img src="/assets/logo-light.png" alt="Foodfy">

    <nav class="navbar">
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
    </nav>
  </div>
</header>