<section class='recipes-container'>
  {% for recipe in recipes %}
    <div class="recipe" id="{{recipe.id}}">
      {% if not recipe.img %}
        <img src="http://placehold.it/500x500?text={{recipe.title}}" alt="{{recipe.title}}">
      {% else %}
        <img src="{{recipe.img}}" alt="Imagem de {{recipe.title}}">
      {% endif %}
      <h3>{{recipe.title}}</h3>
      <p>por {{recipe.author}}</p>
    </div>
  {% endfor %}
</section>